body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

/* #region header*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.head-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-style {
  color: #2e2f42;
}

.nav-header {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-header-item {
}

.item-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item-nav-link:hover,
.item-nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.item-nav-link .address {
}

.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-list-item {
}

.item-adress-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.item-adress-link:hover,
.item-adress-link:focus {
  color: #404bbf;
}
/* #endregion header*/

/* #region hero*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-content {
  /*padding: 188px 0;*/
  /*margin: 0 auto;*/
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion hero*/

/* #region Feature */
.feature {
  background-color: #ffffff;
  padding: 120px 0;
}
.feature-title {
}
.feature-list {
  display: flex;
  padding-left: auto;
  padding-right: auto;
  gap: 24px;
  margin-bottom: 120px;
}
.feature-list-item {
  width: calc((100% - 72px) / 4);
}
.feature-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion Feature */

/* #region Our Team */

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
:first-child .our-list {
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-list {
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}

.our-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.text-item {
  padding: 32px 0;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 0;
}
/* #endregion Our Team */

/* #region Portfolio */
.portfolio {
  background-color: #ffffff;
  padding: 120px 0;
}

.port-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.port-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.text-item-folio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.port-team-item {
  margin-bottom: 24px;
  width: calc((100% - 48px) / 3);
}

.port-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Portfolio */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-style-footer {
  color: #f4f4fd;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.logo-style-footer {
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion Footer */
